env:
  global:
    - CC_TEST_REPORTER_ID=ddd9a311ee312287c63200b8ab887053bb39bae63f4cc15b1a873f9ac3fee7cf

stages:
  - test
  - name: documentation
    if: branch = master
  - name: package
    if: tag =~ ^v\d+\.\d+\.\d+.*

# Default python version that will be inherited
# Additional ones can be defined later
language: python
python: 3.6

email:
  on_success: always
  on_failure: always

jobs:
  include:
    - &test-stage
      stage: test
      before_script:
        - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
        - chmod +x ./cc-test-reporter
        - ./cc-test-reporter before-build
      script:
       - python setup.py test -n pytest
      after_script:
        - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

    # Define additional python versions for tests
    - <<: *test-stage
      python: 3.7

    - <<: *test-stage
      python: 3.8

    - stage: documentation
      install:
        - pip install '.[doc]'
      script:
       - travis-sphinx build --source=doc/ --nowarn
      after_success:
       - travis-sphinx deploy

    - stage: package
      install:
        - pip install twine
      before_script:
        - |
          cat << EOF | tee ~/.pypirc 1>/dev/null
          [distutils]
          index-servers=
              pypi
          [pypi]
            username: $PYPI_USERNAME
            password: $PYPI_PASSWORD
      script:
        - python setup.py sdist bdist_wheel
        - twine check dist/*
        - twine upload dist/*
