---
template: overrides/main.html
---

<h1> Proton Synchrotron Optics Repository </h1>

## Data structure

The data for the different operational scenarios quoted below are organized in the following way:

<ul>
<li><b>Optics scenario</b>: each scenario corresponds to a certain operational cycle (i.e. beam and/or user).</li>

<li><b>Configuration</b>: the state of the machine for a specific instant along the cycle (e.g. injection,
flat bottom, ...).</li>

</ul>

For each configuration the values of several parameters (energy, transverse tunes, optical functions at the various BI monitors) 
as well as Twiss tables and plots of the optics functions are provided.

## Operational optics scenarios

{% for idx, row in scenarios.iterrows() %}
- [{{ row['label'] }}](scenarios/{{idx}}/index.md) - {{ row['short_desc'] }}
{% endfor %}

