---
template: overrides/main.html
---

<h1> PS survey file </h1>

On this page the MAD-X input scripts for the PS survey and the survey file can be found. 
Furthermore, the following interactive plot shows the coordinates of the individual elements and the survey output file is available below the plot.

<span style="color:red">Disclaimer: The initial survey coordinates still need to be verified!</span>

<object width="520px" height="520px" data="ps_survey.html"></object> 
<p style="text-align: center;"><b>Figure 1:</b> Result of the MAD-X survey for the PS. The shaded areas indicate the different sectors and the lightest color corresponds to the first sector.</p>

??? "MAD-X output for PS survey - [direct download]({{ ps_survey_tfs }})"
{{ ps_survey_tfs_content | indent(8, True) }}

??? "MAD-X example script for PS survey - [direct download]({{ ps_survey }})"
{{ ps_survey_content | indent(8, True) }}

??? "MAD-X sequence of straight section elements - [direct download](../../{{ branch }}/{{ ps_ss_seq }})"
{{ ps_ss_content | indent(8, True)}}

??? "MAD-X sequence of main units - [direct download](../../{{ branch }}/{{ ps_mu_seq }})"
{{ ps_mu_content | indent(8, True)}}