---
template: overrides/main.html
---

<h1> Proton Synchrotron Booster Optics Repository </h1>

## Data structure

The data for the different operational scenarios quoted above are organized in the following way:

<ul>
<li><b>Optics scenario</b>: each scenario corresponds to a certain operational cycle (i.e. beam and/or user).</li>

<li><b>Configuration</b>: the state of the machine for a specific instant along the cycle (e.g. injection,
flat bottom, ...).</li>

</ul>

For each configuration the values of several parameters (energy, transverse tunes, optical functions at the various BI monitors) 
as well as Twiss tables and plots of the optics functions are provided.

## Operational optics scenarios

{% for idx, row in scenarios.iterrows() %}
- [{{ row['label'] }}](scenarios/{{idx}}/index.md) - {{ row['short_desc'] }}
{% endfor %}

## Magnetic field

The PSB magnetic cycle is identical for all scenarios, apart from the ISOLDE beams, as those beams continue to be extracted at 1.4 GeV kinetic energy.

<object width="500px" height=330px  data="../experimental_data/magnetic_field/2018/magnetic_cycle.html"></object> 
<p style="text-align: center;"><b>Figure 1:</b> Magnetic configurations used in the PSB.</p>