<h1> {{ scn['label'] }} -  {{ conf['label'] }} optics</h1>

<h2>Twiss functions</h2>
The Twiss functions of this configuration are shown in the interactive plot below. You can zoom in or hover over any curve to obtain more information about the function's value at a specific element.  

<object width="100%" height="{{conf['plot_height']}}" data="{{conf['plot_html']}}"></object> 

<h2>Example scripts</h2>

You can directly open a MAD-X example for this configuration in [SWAN](https://cern.ch/swanserver/cgi-bin/go?projurl=https://gitlab.cern.ch/acc-models/acc-models-ps/raw/{{ branch }}/{{ conf['directory'] }}MADX_example_{{ conf['madx'][:-5] }}.ipynb){target=_blank} or download the necessary files below.

??? "MAD-X example script - [direct download]({{conf['madx']}})"
{{ conf['madx_content'] | indent(8, True) }}

??? "MAD-X strength file - [direct download]({{conf['str']}})"
{{ conf['str_content'] | indent(8, True)}}

??? "MAD-X sequence of straight section elements and strength definitions - [direct download](../../../{{ps_ss_seq}})"
{{ ps_ss_content | indent(8, True)}}

??? "MAD-X sequence of main units - [direct download](../../../{{ps_mu_seq}})"
{{ ps_mu_content | indent(8, True)}}