# Runs all tests and pushes the coverage report to CodeClimate
name: Coverage

# Runs on the following conditions:
# - Any push to master branch (which requires merging a PR)
# - Any push to a branch linked to a pull request
#   -> if the pushed commit changes files within our codebase (in omc3/ or tests/ directories)
on:
  push:
    branches:
      - 'master'
  pull_request:  # so CodeClimate gets coverage and reports on the diff
    paths:
      - 'omc3/**'
      - 'tests/**'

jobs:
  coverage:
      uses: pylhc/.github/.github/workflows/coverage.yml@master
      with:
        src-dir: omc3
        pytest-options: -m "not cern_network" --cov-report term-missing
      secrets: inherit
