# Runs all tests and pushes coverage report to codeclimate
name: Coverage

on:  # Runs on all push events to master branch and any push related to a pull request
  push:
    branches:
      - master
  pull_request:  # so that codeclimate gets coverage and reports on the diff

jobs:
  coverage:
      uses: pylhc/.github/.github/workflows/coverage.yml@python_coverage_action
      with:
        src-dir: omc3
        pytest-options: -m "not cern_network" --cov-report term-missing
      secrets: inherit
