# Builds the package and publishes to PyPI upon creation of a release
name: Upload Package to PyPI

# Runs everytime a release is added to the repository
on:
  release:
    types: [created]

jobs:
  deploy:
    uses: pylhc/.github/.github/workflows/publish.yml@master
    secrets: inherit
