# Runs all tests in two steps, first basic then extended (pytest marks)
# Each of these steps deploys on the whole build matrix (Python versions, OSes)
name: All Tests

defaults:
  run:
    shell: bash

# Runs on the following conditions:
# - Any push to a branch which is not master (coverage workflows takes care of that)
#   -> if the pushed commit changes files within our codebase (in omc3/ or tests/ directories)
#   -> or if the pushed commit changes the pyproject.toml configuration file
on:
  push:
    branches-ignore:
      - 'master'
    paths:
      - 'omc3/**'
      - 'tests/**'

jobs:
  basic_tests:
    uses: pylhc/.github/.github/workflows/tests.yml@master
    with:
      pytest-options: -m "not extended and not cern_network"

  extended_tests:
    needs: basic_tests
    uses: pylhc/.github/.github/workflows/tests.yml@master
    with:
      pytest-options: -m "extended and not cern_network"
