# Runs all tests in two steps: the basic tests and the "extended" tests
name: Tests

defaults:
  run:
    shell: bash

on:  # Runs on any push event to any branch except master (the coverage workflow takes care of that)
  push:
    branches-ignore:
      - 'master'


jobs:
  basic_tests:  # Runs the basic tests, aka all tests not marked with "extended", on all push events
    name: basic / ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
        exclude:
          - os: windows-latest
            python-version: 3.9  # pyTables can't build on that

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get full Python version
        id: full-python-version
        run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")

      - name: Get pip cache dir  # requires pip >= 20.1
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: Set up cache
        uses: actions/cache@v2
        id: cache
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-pip-

      - name: Upgrade pip, setuptools and wheel
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel

      - name: Install package
        run: pip install '.[test]'

      - name: Run Basic Tests
        run: python -m pytest -m "not extended"


  extended_tests:  # Runs tests marked as "extended", after the previous step
    needs: basic_tests  # only here for aesthetics purpose
    name: extended / ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-latest, windows-latest]
        python-version: [3.7, 3.8, 3.9]
        exclude:
          - os: [windows-latest, macos-latest]
            python-version: 3.9  # pyTables can't build on that

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Get full Python version
        id: full-python-version
        run: echo ::set-output name=version::$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))")

      - name: Get pip cache dir  # requires pip >= 20.1
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: Set up cache
        uses: actions/cache@v2
        id: cache
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: ${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-pip-${{ hashFiles('**/setup.py') }}
          restore-keys: |
            ${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-pip-

      - name: Upgrade pip, setuptools and wheel
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel

      - name: Install package
        run: pip install '.[test]'

      - name: Run Extended Tests
        run: python -m pytest -m "extended"
